
.vs/DSA Assignment 1/FileContentIndex/2d9197a2-acfb-4c57-b121-a15fd3187cf8.vsidx
*.vsidx
*.vsidx
.vs/DSA Assignment 1/v17/.suo
*.db
*.db-shm
*.opendb
*.ipch
.vs/DSA Assignment 1/v17/.suo
.vs/DSA Assignment 1/v17/Browse.VC.db
*.db-shm
*.db
*.lock
.vs/DSA Assignment 1/v17/Browse.VC.db-wal
x64/Debug/_IsIncrementalBuild
*.obj
x64/Debug/DSA Assignment 1.exe
*.recipe
*.ilk
*.log
*.pdb
*.tlog
x64/Debug/DSA Assignment 1.vcxproj.FileListAbsolute.txt
*.idb
